body{
	border: 0px;
	margin: 0px;
	background-color; 
	width: 100%;
	height: 100%;
	font-family: 'Courgette', cursive;
	letter-spacing: 1.5px;
}

.banner {
	width: 100%;
	height: 120px;
	padding: 20px 100px 40px 0px;
}

.margin-left{

	  color:#EE3257;
	  padding-left: 80px;
	  padding-bottom: 40px;
	  
}



.right{
	float: right;
 width: 100px;
 height: 40px;
 margin-left: 700px;
 margin-top: 0px;
}


#between{
	margin:0 auto;
	width: 100%;
	height: 500px;
    padding: 100px 20px 40px 70px;
    background-color: #EBE5E5;
}

.img-circle {
    border-radius: 50%;
}


#left{
	float: left;
	width: 30%;
}

#right{
	float: right;
	width: 60%;
}

.clear{
	clear: both;
}

#footer{
	width: 100%;
	height: 180px;
	background-color: #EE3257;
	margin: 0px;
	border: 0px;
	padding-top: 50px;
	}

.color-pink{
	color: #EE3257;
}

.padding-left{
	padding-left: 180px;

}

