

  .page-footer{
    flex: 1 0 auto;
  }

body > header > nav{
  height: 100px !important;
  background-color: #C2BAB0 !important;
}

body > header > nav > div > ul > li{
  height: 100px !important;
  background-color: #C2BAB0 !important;
  width: 100px !important;
}

body > footer {
  background-color: white !important;
}
