
           <div class="container">
            <div class="row" id="contact">
              <div class="col l6 s12">
                <h5>contact</h5>
              </div>
              <div class="col l4 offset-l2 s12">

                <ul>
                  <li><a class="black-text" href="#!">email</a></li>
                  <li><a  class="black-text" href="#!">github</a></li>
                  <li><a class="black-text" href="#!">Linkedin</a></li>
                  <li><a  class="black-text" href="#!">code-school</a></li>
                </ul>

              </div>
            </div>
          </div>
          <!-- <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div> -->
