
           <div class="container footer-container-margin">
            <div class="row" id="anchor{{3}}"  class="anchor" >
                  <!-- <div class="col s1"></div> -->
                  <div class="col s2"><h2>Contact</h2></div>
                  <div class="col s1 offset-s4 margin-top-a-footer"><a class="color-pink" href="mailto:barbara10battista@gmail.com"><i class="material-icons small">email</i></a></div>
                  <div class="col s1 offset-s1 margin-top-a-footer"><a class="color-pink" href="https://github.com/dibattista/dibattista.github.io"><i class="fa fa-github small"></i></a></div>
                  <div class="col s1 offset-s1 margin-top-a-footer"><a class="color-pink" href="https://fr.linkedin.com/in/barbara-di-battista-710521b3"><i class="fa fa-linkedin small"></i></a></div>
                  <!-- <div class="col s1 offset-s1 margin-top-a-footer"><a class="color-pink" href="#!"><i class="fa fa-code medium"></i></a></div> -->

            </div>
          </div>
          <!-- <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div> -->
